body {
  font-family: sans-serif;
  font-weight: bold;
}

.cursive-text {
  font-family: cursive;
  font-weight: bold;
  /* css comment
    font-weight: 100 - 900;
  */
}

.external {
  width: 300px;
  height: 300px;
  font-family: sans-serif;
  background: rgb(255, 255, 0);
}

.red-text-hex {
  color: #ff0000;
}

.red-text-name {
  color: red;
}

.red-text-rgb {
  color: rgb(255, 0, 0);
}

.letter-stuff {
  letter-spacing: 12px;
  line-height: 36px;
  word-spacing: 50px;
  text-align: justify;
}

.wrapper {
  width: 500px;
  height: auto;
  float: left;
  border: 1px solid green;
}

.css-box {
  width: 250px;
  height: 250px;
  float: left;
  box-sizing: border-box;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
  border: 5px dotted black;
  /* padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; */
  padding: 10px;
}
