html {
  background: url(../images/turtle-jump.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: rgba(240,240,240,.5);
  padding-bottom: 100px;
}

.border-radius-box {
  width: 250px;
  height: 250px;
  background-color: green;
  margin: 10px auto;
  text-align: center;
}

.generic-border-radius {
  border-radius: 15px;
}

.center-content {
  display: table-cell;
  height: 250px;
  width: 250px;
  vertical-align: middle;
  /* line-height: 250px; */
}

.box {
  width: 150px;
  height: 150px;
  background: red;
  margin: 15px auto;
  box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
  /* transition: background .5s ease-in-out; */
  transition: all .5s ease-in-out;
}

.box.half-transparency {
  background: rgba(0,255,255,1);
}

/* .box.half-transparency > .inner-box {} */
.box.half-transparency .inner-box {
  width: 100px;
  height: 100px;
  background: rgba(0,0,0,.25);
}

.box:hover {
  width: 200px;
  height: 200px;
  background: yellow;
}
