.lightbox-image {
  margin: 10px auto 25px;
  box-shadow: 0 35px 90px rgba(0,0,0, 0.4);
  border-radius: 10px;
  transition: all .5s ease-in-out;
  position: relative;
  z-index: 1;
}

.lightbox-image:hover {
  box-shadow: 0 45px 100px rgba(0,0,0, 0.5);
  z-index: 10;
}
